/* Bang thong ke trong ngay   */
.Thefirst__dashboard {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.content__header__dashboard {
    color: #007bff;
}
.chart_admin_first {
    background-color: white;
    height: 50%;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

/* id chung cho 6 bang */
#chart_admin {
    display: grid;
    grid-template-columns: 23% 23% 23%;
    grid-template-rows: 230px 230px;
    grid-row-gap: 5%;
    grid-column-gap: 40px;
    margin-top: 1rem;
    padding-right: 0;
    margin-left: 23%;
}

.body__chart__admin {
    background-color: #fffff0;
    text-align: center;
    /* display: flex;
        flex-direction: column;
        align-items: flex-end; */
}
.body__chart__admin:hover {
    cursor: pointer;
}

.item1 {
    color: #6495ed;
    font-size: 60px;
    /* text-align: center; */
    padding-top: 18%;
    background-color: #ddf8f8;
}
.item__title {
    color: black;
    font-size: 18px;
    padding-top: 23%;
}

.item2 {
    color: #986db2;
    font-size: 60px;
    /* text-align: center; */
    padding-top: 18%;
    background-color: #efeffd;
}

.item3 {
    color: #0b346e;
    font-size: 60px;
    /* text-align: center; */
    padding-top: 18%;
    background-color: #dae8e9;
}

.item4 {
    color: #e9c703;
    font-size: 60px;
    /* text-align: center; */
    padding-top: 18%;
    background-color: #fdfbe7;
}

.item5 {
    color: #23bf23;
    font-size: 60px;
    /* text-align: center; */
    padding-top: 18%;
    background-color: #ddfddd;
}

.item6 {
    color: #dc143c;
    font-size: 60px;
    /* text-align: center; */
    padding-top: 18%;
    background-color: #fae4e8;
}

/* Input chon thoi gian */
.input__label__dashboard {
    margin-left: 40%;
    margin-right: 5px;
}

/* bieu do */

.text__Chart {
    margin-left: 10%;
    font-size: 23px;
    text-align: center;
    font-style: italic;
}
/* bieu do bang phai */
#barChart {
    padding: 3% 8% 0 0;
}
#barChart:hover {
    cursor: pointer;
}

/* bieu do ben trai */
#chart-line {
    padding: 5% 5% 0 5%;
}
#chart-line:hover {
    cursor: pointer;
}

/* bang dieu huong nhanh */
.control__table {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.btn__control {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 90px 90px;
    grid-row-gap: 5%;
    grid-column-gap: 1%;
    margin-top: 1rem;
    padding-right: 0;
    margin-left: 33%;
}
.btn {
    background-color: white;
    color: #999999;
    border: 2px solid #4caf50;
    /* padding-top: 3%; */
    font-size: 16px;
}
.btn:hover {
    background-color: #cbf0cc;
    color: black;
}
#btn__control__table {
    padding-top: 5%;
    font-size: 23px;
}
